menu "Bonus Components by Nico Christmann"

source "drivers/misc/nicochristmann/mtkmods/Kconfig"
source "drivers/misc/nicochristmann/usbwifi/Kconfig"
source "drivers/misc/nicochristmann/fbrefreshtimer/Kconfig"
source "drivers/misc/nicochristmann/vkms_copy/Kconfig"
endmenu
